html{
  background-image: linear-gradient(to top, #311f5b 0%, #000000 100%);
}

*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Times New Roman";
}

a{
  text-decoration: none;
}

.header{
  font-size: 20px;
  padding: 60px 80px;
  box-sizing: border-box;
  overflow: auto;
}

.line {
  text-align: center;
}

.left{
  float: left;
}

.right{
  float: right;
  word-spacing: 10px;
}
