html{
  background-image: linear-gradient(to top, #311f5b 0%, #000000 100%);
}

*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Times New Roman";
}

a{
  text-decoration: none;
}

.header{
  font-size: 20px;
  padding: 60px 80px;
  box-sizing: border-box;
  overflow: auto;
}

.line {
  text-align: center;
}

.left{
  float: left;
}

.right{
  float: right;
  word-spacing: 10px;
}

.aboutme{
  margin-top: 30px;
  padding: 40px 50px;
  text-align: center;
}

.past{
  border: solid white 1px;
  width: 29%;
  padding: 10px;
  margin: 10px;
  float: left;
}

.present{
  border: solid white 1px;
  width: 33%;
  margin: 10px;
  padding: 10px;
  float: left;
}

.future{
  border: solid white 1px;
  width: 29%;
  padding: 10px;
  margin: 10px;
  float: left;
}

img{
  height: 100px;
  width: 100px;
  clip-path: circle(50% at 50% 50%);
}

.skills{
  text-align: center;
  clear: both;
  margin-top: 200px;
}

h2{
  font-size: 18px;
  margin-bottom: 5px;
}

h3{
  font-size: 12px;
}
