html{
  background-image: linear-gradient(to top, #311f5b 0%, #000000 100%);
}

*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Times New Roman";
}

a{
  text-decoration: none;
}

.header{
  font-size: 20px;
  padding: 60px 80px;
  box-sizing: border-box;
  overflow: auto;
}

.line {
  text-align: center;
}

.left{
  float: left;
}

.right{
  float: right;
  word-spacing: 10px;
}

.homehead{
  padding: 40px 50px;
  text-align: center;
}

.past{
  border: solid white 1px;
  width: 29%;
  padding: 10px;
  margin: 50px 10px 10px 10px;
  float: left;
}

.present{
  border: solid white 1px;
  width: 33%;
  padding: 10px;
  margin: 50px 10px 10px 10px;
  padding: 10px;
  float: left;
}

.future{
  border: solid white 1px;
  width: 29%;
  padding: 10px;
  padding: 10px;
  margin: 50px 10px 10px 10px;
  float: left;
}

img{
  height: 200px;
  width: 200px;
  clip-path: circle(50% at 50% 50%);
}

.skills{
  width: 100%;
  padding: 20px;
  text-align: center;
  clear: both;
  margin-top: 350px;
}

ul li{
  text-align: center;
  display: inline;
  background-color: #311f5b;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

.front{
  margin: 40px;
}

.frontlist{
  margin-top: 100px;
}

.back{
  clear: both;
  margin:40px;
}

.backlist{
  margin-top: 20px;
}

.soft{
  clear: both;
  margin:40px;
}

.softlist{
  margin-top: 20px;
}


h2{
  font-size: 25px;
  margin-bottom: 15px;
}

h3{
  font-size: 12px;
}

.background{
  background-color: black;
  width: 100%;
  height: 450px;
  clip-path: circle(50% at 50% 50%);
  overflow: clip;
}
